<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th {
      line-height: 0.6; /* Adjust this value as needed */
    }
    </style>
</head>

<body>
    <table cellpadding="12">
        <tr>
            <th colspan="12">National Highway Authority of India</th>
        </tr>
        <tr>
            <th colspan="2">Name of Work</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Client</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Consultant</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Contractor</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="12">TENSILE STRENGTH RATIO (AASHTO:T -283)</th>

        </tr>
        <br>
        <th colspan="12">Confirmity @4.51% OBC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proving Ring Calibration Factor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.26 kg/div</th>
        
        <tr>
            <th colspan="1">Sr.No.</th>
            <th colspan="1">% Bitumen by Wt. Of Mix</th>
            <th colspan="1">Wt.In Air</th>
            <th colspan="1">Wt.In Water</th>
            <th colspan="1">S.S.D Wt. In Air</th>
            <th colspan="1">Volume</th>
            <th colspan="1">Bulk Density</th>
            <th colspan="5">Stability</th>
            <!-- <th colspan="10" rowspan="1">% Passing</th>
            <th colspan="1" rowspan="1">AVERAGE</th> -->
            
        </tr>
        <tr>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1"></th>
            <th colspan="1">Gmb</th>
            <th colspan="1">Reading</th>
            <th colspan="1">Load</th>
            <th colspan="1">Volume Correction</th>
            <th colspan="1">Corrected Load</th>
            <th colspan="1">Flow</th>

        </tr>
        <tr>
            <th colspan="1">1</th>
            <th colspan="1">~2~</th>
            <th colspan="1">~3~</th>
            <th colspan="1">~4~</th>
            <th colspan="1">~5~</th>
            <th colspan="1">~6~</th>
            <th colspan="1">~7~</th>
            <th colspan="1">~8~</th>
            <th colspan="1">~9~</th>
            <th colspan="1">~10~</th>
            <th colspan="1">~11~</th>
            <th colspan="1">~12~</th>
        </tr>
        <tr>
            <th colspan="1">2</th>
            <th colspan="1"></th>
            <th colspan="1">~13~</th>
            <th colspan="1">~14~</th>
            <th colspan="1">~15~</th>
            <th colspan="1">~16~</th>
            <th colspan="1">~17~</th>
            <th colspan="1">~18~</th>
            <th colspan="1">~19~</th>
            <th colspan="1">~20~</th>
            <th colspan="1">~21~</th>
            <th colspan="1">~22~</th>
        </tr>
        <tr>
            <th colspan="1">3</th>
            <th colspan="1"></th>
            <th colspan="1">~23~</th>
            <th colspan="1">~24~</th>
            <th colspan="1">~25~</th>
            <th colspan="1">~26~</th>
            <th colspan="1">~27~</th>
            <th colspan="1">~28~</th>
            <th colspan="1">~29~</th>
            <th colspan="1">~30~</th>
            <th colspan="1">~31~</th>
            <th colspan="1">~32~</th>
        </tr>
        <tr>
            <th colspan="1">Average</th>
            <th colspan="5"></th>
            <th colspan="1">~33~</th>
            <th colspan="3"></th>
            <th colspan="1">~34~</th>
            <th colspan="1">~35</th>
        </tr>
        <th colspan="12">AFTER 24 HRS IMMERSION IN WATER AT 60<sup>o</sup> C TEMP</th>
        <tr>
            <th colspan="1">4</th>
            <th colspan="1">~36~</th>
<th colspan="1">~37~</th>
<th colspan="1">~38~</th>
<th colspan="1">~39~</th>
<th colspan="1">~40~</th>
<th colspan="1">~41~</th>
<th colspan="1">~42~</th>
<th colspan="1">~43~</th>
<th colspan="1">~44~</th>
<th colspan="1">~45~</th>
<th colspan="1">~46~</th>

        </tr>
        <tr>
            <th colspan="1">2</th>
            <th colspan="1"></th>
            <th colspan="1">~47~</th>
<th colspan="1">~48~</th>
<th colspan="1">~49~</th>
<th colspan="1">~50~</th>
<th colspan="1">~51~</th>
<th colspan="1">~52~</th>
<th colspan="1">~53~</th>
<th colspan="1">~54~</th>
<th colspan="1">~55~</th>
<th colspan="1">~56~</th>

        </tr>
        <tr>
            <th colspan="1">3</th>
            <th colspan="1"></th>
            <th colspan="1">~57~</th>
<th colspan="1">~58~</th>
<th colspan="1">~59~</th>
<th colspan="1">~60~</th>
<th colspan="1">~61~</th>
<th colspan="1">~62~</th>
<th colspan="1">~63~</th>
<th colspan="1">~64~</th>
<th colspan="1">~65~</th>
<th colspan="1">~66~</th>
<tr>
    <th colspan="1">Average</th>
    <th colspan="5"></th>
    <th colspan="1">~67~</th>
    <th colspan="3"></th>
    <th colspan="1">~68~</th>
    <th colspan="1">~69</th>
</tr>
<th colspan="12">Stability of BC Mix @ 60<sup>o</sup>C for 30 Minutes Water immersion&nbsp;(A)=&nbsp;&nbsp;&nbsp; ~70~</th>
<tr></tr>
<th colspan="12">Stability of BC Mix @ 60<sup>o</sup>C for 24 hours Water immersion&nbsp;(B)=&nbsp;&nbsp;&nbsp; ~71~</th>
<br><br>
<tr></tr>
<th colspan="12">WATER SENSITIVITY&nbsp;&nbsp;&nbsp;&nbsp; B/A X 100 &nbsp;= ~72~</th> 
<!-- <tr>
    <th colspan="7"></th>
    <th colspan="3">Method used:- <br> Rammer Wt:-<br>No. of blows/layers:-<br>No. of layers:-</th>
    <th colspan="2">~1~<br>~2~<br>~3~<br>~4~</th>    
</tr> -->
       <tr>
        <th colspan="6">FOR CONTRACTOR REP.</th>
        <th colspan="6">FOR AUTHORITY REP.</th>
       </tr>
    </table>
</body>

</html>