<!DOCTYPE html>
<html>
    <head>
        <title>
            Report
        </title>
        <style>
            table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        <table cellpadding="10">
            <tr>
                <td><br><br></td>
               
               
                
            </tr>

            
            <tr>
                <th colspan="1">Name of Client</th>
                <td colspan="7">~1~</td>
            </tr>
           
            <tr>
                <th colspan="1">Name of Contractor</th>
                <td colspan="7">~2~</td>
            </tr>

            <tr>
                <th colspan="8"><br>DBM JOB MIX FORMULA <br><br></th>
            </tr>
           

            <tr>
                <th >~3~</th>
                <th >% of Passing</th>
                <th >Permissible</th>
                <th >JMF Lower Limit</th>
                <th >JMF Upper Limit</th>
                <th>MORT & H Lower Limit</th>
                <th colspan="2">MORT &H Upper Limit</th>
            </tr>
            <tr>
                <th >~4~</th>
                <th >~13~</th>
                <th >(+/-)8</th>
                <th >100</th>
                <th >100</th>
                <th>100</th>
                <th colspan="2">100</th>
            </tr>
            <tr>
                <th >~5~</th>
                <th >~14~</th>
                <th >(+/-)8</th>
                <th >90</th>
                <th >100</th>
                <th>90</th>
                <th colspan="2">100</th>
            </tr>

            
            <tr>
                <th >~6~</th>
                <th >~15~</th>
                <th >(+/-)8</th>
                <th >82 </th>
                <th >95</th>
                <th>71</th>
                <th colspan="2">95</th>
            </tr>
                
            <tr>
                <th >~7~</th>
                <th >~16~</th>
                <th >(+/-)7</th>
                <th >65</th>
                <th >79</th>
                <th>56</th>
                <th colspan="2">80</th>
            </tr>
            <tr>
                <th >~8~</th>
                <th >~17~</th>
                <th >(+/-)6</th>
                <th >36</th>
                <th >48</th>
                <th>38</th>
                <th colspan="2">54</th>
            </tr>
            <tr>
                <th >~9~</th>
                <th >~18~</th>
                <th >(+/-)5</th>
                <th >26</th>
                <th >36</th>
                <th>28</th>
                <th colspan="2">42</th>
            </tr>
            <tr>
                <th >~10~</th>
                <th >~19~</th>
                <th >(+/-)4</th>
                <th >10</th>
                <th >18</th>
                <th>7</th>
                <th colspan="2">21</th>
            </tr>
            <tr>
                <th >~11~</th>
                <th >~20~</th>
                <th >(+/-)2</th>
                <th >2</th>
                <th >6</th>
                <th>2</th>
                <th colspan="2">8</th>
            </tr>
           <TH colspan="8"></TH>
           <tr>
            <th colspan="8"><br>DBM JOB MIX FORMULA <br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br></th>
           </tr>
            
           
        </table>
    </body>
</html>