<!DOCTYPE html>
<html>

<head>
    <title>
        Report
    </title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        .left-align {
            text-align: left;
        }
    </style>
</head>

<body>
    <table cellpadding="10">

        <tr>
            <th colspan="8"> National Highway Authority of India</th>
        </tr>

        <tr>
            <td colspan="2"><b>Name of Work</b></td>
            <td colspan="6">~1~</td>
        </tr>
        <tr>
            <td colspan="2"><b>Name of Client</b></td>
            <td colspan="6">~2~</td>
        </tr>
        <tr>
            <td colspan="2"><b>Name of Consultant</b></td>
            <td colspan="6">~3~</td>
        </tr>
        <tr>
            <td colspan="2"><b>Name of Contractor</b></td>
            <td colspan="6">~4~</td>
        </tr>

        <tr>
            <th colspan="8">Maximum Specific gravity of Paving Mixture<br><br>
                [As per(AASTHO T 209,ASTM D 2041 -71)]</th>
        </tr>


        <tr>
            <th colspan="2">Date of Sampling</th>
            <td colspan="2" class="left-align">~5~</td>
            <th colspan="2">Type of activity</th>
            <td colspan="2" class="left-align">~6~</td>
        </tr>
        <tr>
            <th colspan="2">Date of Testing</th>
            <td colspan="2" class="left-align">~7~</td>
            <th colspan="2">Specific Gravity of Bitumen</th>
            <td colspan="2" class="left-align">~8~</td>
        </tr>
        <tr>
            <th colspan="2">Bulk Specific Gravity of Agg </th>
            <td colspan="2" class="left-align">~9~</td>
            <th colspan="2">% Bitumen Content in mix</th>
            <td colspan="2" class="left-align">~10~</td>
        </tr>
        <tr>
        <tr>
            <td colspan="8" style="height: 1px; background-color: rgba(196, 160, 82, 0.49);"></td>
        </tr>

        <th colspan="2">Determination</th>
        <th colspan="3">01</th>
        <th colspan="3">02</th>
        </tr>

        <tr>

            <th colspan="2">Weight of Empty Flask in gm , Gms.</th>
            <td colspan="3" class="left-align">~11~</td>
            <td colspan="3" class="left-align">~12~</td>
        </tr>
        <tr>

            <th colspan="2">Weight of Sample ( loose mix), Gms.</th>
            <td colspan="3" class="left-align">~13~</td>
            <td colspan="3" class="left-align">~14~</td>
        </tr>
        <tr>

            <th colspan="2">Weight of Flask filled with Water, Gms.</th>
            <td colspan="3" class="left-align">~15~</td>
            <td colspan="3" class="left-align">~16~</td>
        </tr>
        <tr>

            <th colspan="2">Weight of Flask+ Sample + Water after removal of air by vaccum, Gms.</th>
            <td colspan="3" class="left-align">~17~</td>
            <td colspan="3" class="left-align">~18~</td>
        </tr>
        <tr>

            <th colspan="2">Maximum Therotical Specific Gravity of mix</th>
            <td colspan="3" class="left-align">~19~</td>
            <td colspan="3" class="left-align">~20~</td>
        </tr>
        <tr>
            <th colspan="2">Average Maximum Therotical Specific Gravity of mix</th>
            <td colspan="6">~21~</td>
        </tr>
        <tr>
            <td colspan="4">EPC CONTRACTOR REP. </td>
            <td colspan="4">AUTHORITY ENGINEER REP.</td>

        </tr>
    </table>
</body>

</html>
