<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th {
      line-height: 1.4; /* Adjust this value as needed */
    }
    </style>
</head>

<body>
    <table cellpadding="12">
        <tr>
            <th colspan="12">National Highway Authority of India</th>
        </tr>
        <tr>
            <th colspan="2">Name of Client</th>
            <td colspan="10">~1~</td>
        </tr>
        <tr>
            <th colspan="2">Name of Contractor</th>
            <td colspan="10">~2~</td>
        </tr>
        <tr>
            <th colspan="12">WORKSHEET FOR VOLUMETRIC ANALYSIS OF COMPACTED PAVING MIXTURE</th>

        </tr>
       
        <tr>
            <th rowspan="2">DESCRIPTION</th>
            <th colspan="6">Specific Gravity G</th>
            <th colspan="6">Composition% by Wt. of total mix</th>
            <!-- <th colspan="10" rowspan="1">% Passing</th>
            <th colspan="1" rowspan="1">AVERAGE</th> -->
            
        </tr>
        <tr>
            <th colspan="1">Symbol</th>
            <th colspan="2">Apparent</th>
            <th colspan="1">Bulk</th>
            <th colspan="1">Effective</th>
            <th colspan="1"></th>
            <th colspan="5">Conformity at OBC</th>
        </tr>
        <tr>
            <th colspan="1">Coarse Aggregate (25-16mm)</th>
            <th colspan="1">G-1</th>
            <th colspan="2">~3~</th>
            <th colspan="1">~6~</th>
            <th colspan="1">~9~</th>
            <th colspan="1">P-1</th>
            <th colspan="5">~16~</th>
            

        </tr>
        <tr>
            <th colspan="1">Coarse Aggregate (16-4.75 mm)</th>
            <th colspan="1">G-3</th>
            <th colspan="2">~4~</th>
            <th colspan="1">~7~</th>
            <th colspan="1">~10~</th>
            <th colspan="1">P-2</th>
            <th colspan="5">~17~</th>
            

        </tr>
        <tr>
            <th colspan="1">Fine Aggregate (Dust)</th>
            <th colspan="1">G-4</th>
            <th colspan="2">~5~</th>
            <th colspan="1">~8~</th>
            <th colspan="1">~11~</th>
            <th colspan="1">P-3</th>
            <th colspan="5">~18~</th>
            

        </tr>
        <tr>
            <th colspan="1">Total Aggregate</th>
            <th colspan="1">G<sub>s</sub></th>
            <th colspan="2">~12~</th>
            <th colspan="1">~13~</th>
            <th colspan="1"></th>
            <th colspan="1">P<sub>s</sub></th>
            <th colspan="5">~19~</th>

        </tr>
        <tr>
            <th colspan="1">Bitumen Content</th>
            <th colspan="1">G<sub>b</sub></th>
            <th colspan="2">~14~</th>
            <th colspan="1">~15~</th>
            <th colspan="1"></th>
            <th colspan="1">P<sub>b</sub></th>
            <th colspan="5">~20~</th>

        </tr>
        <tr>
            <th colspan="5">Bulk Specific Gravity Of aggregate</th>
            <th colspan="1"></th>
            <th colspan="1">G<sub>s</sub>b</th>
            <th colspan="5">~21~</th>

        </tr>
        <tr>
            <th colspan="5">Maximum Specific Gravity of paving Mix</th>
            <th colspan="1"></th>
            <th colspan="1">Gmm<br><br>(Practically)</th>
            <th colspan="5">~22~</th>
        </tr>
        <tr>
            <th colspan="5">Bulk Density of compacted mix</th>
            <th colspan="1"></th>
            <th colspan="1">G<sub>m</sub>b</th>
            <th colspan="5">~23~</th>
        </tr>
        <tr>
            <th colspan="5">Voids in Mineral Aggregate</th>
            <th colspan="1"></th>
            <th colspan="1">VMA</th>
            <th colspan="5">~24~</th>
        </tr>
        <tr>
            <th colspan="5">Air Voids in the compacted mix</th>
            <th colspan="1"></th>
            <th colspan="1">V<sub>a</sub></th>
            <th colspan="5">~25~</th>
        </tr>
        <tr>
            <th colspan="5">Voids Filled with Bitumen</th>
            <th colspan="1"></th>
            <th colspan="1">V<sub>fb</sub></th>
            <th colspan="5">~26~</th>
        </tr>

       <tr>
        <th colspan="6">FOR CONTRACTOR REP.</th>
        <th colspan="6">FOR AUTHORITY REP.</th>
       </tr>
    </table>
</body>

</html>
