<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th {
      line-height: 0.6; /* Adjust this value as needed */
    }
    </style>
</head>

<body>
    <table cellpadding="12">
        <tr>
            <th colspan="12">National Highway Authority of India</th>
        </tr>
        <tr>
            <th colspan="2">Name of Work</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Client</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Consultant</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Contractor</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="12">TEST PROPERTIES CURVES FOR MIX DESIGN DATA BY THE MARSHALL METHOD</th>

        </tr>
       <tr>
        <th colspan="6"> Bitumen Vs. Bulk Density</th>
        <th colspan="6">Bitumen Vs. Air Voids</th>
       </tr>
       <tr>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
       </tr>
       <tr>
        <th colspan="6"> Bitumen Vs VMA</th>
        <th colspan="6">Bitumen Vs VFB</th>
       </tr>
       <tr>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
       </tr>
       <tr>
        <th colspan="6"> Bitumen Vs Stability</th>
        <th colspan="6">Bitumen Vs Flow</th>
       </tr>
       <tr>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
        <th colspan="6">~~~GRAPH~~~
            <br>
            <br>
            Bitumen Content(%)
        </th>
       </tr>
       <tr>
        <th colspan="6">FOR CONTRACTOR REP.</th>
        <th colspan="6">FOR AUTHORITY REP.</th>
       </tr>
    </table>
</body>

</html>