<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th {
      line-height: 0.6; /* Adjust this value as needed */
    }
    </style>
</head>

<body>
    <table cellpadding="12">
        <tr>
            <th colspan="12">National Highway Authority of India</th>
        </tr>
        <tr>
            <th colspan="2">Name of Work</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Client</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Consultant</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="2">Name of Contractor</th>
            <td colspan="10"></td>
        </tr>
        <tr>
            <th colspan="12"><br>OPTIMUM BINDER CONTENT DETERMINATION
                <br>
            </th>

        </tr>
       <tr>
        <th colspan="12">Assume the data in shown in Graph whose represent Marshall Mix Design Laboratory tests.at four percentage air voids the mix Properties are</th>
       </tr>
       <tr>
        <th colspan="12">A) &nbsp; Asphalt Content %&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~1~
            <br><br><br>
            B) &nbsp; Stability in kg&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~2~
            <br><br><br>
            C) &nbsp; Flow in mm&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~3~
            <br><br><br>
            D) &nbsp; VMA %&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~4~
            <br><br><br>
            E) &nbsp; VFB%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~5~
            <br><br><br>
            F) &nbsp; Density(gm/cc)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ~6~
            <br><br><br>

        </th>
       </tr>
       <tr>
        <th colspan="6">FOR CONTRACTOR REP.</th>
        <th colspan="6">FOR AUTHORITY REP.</th>
       </tr>
    </table>
</body>

</html>