<!DOCTYPE html>
<html>
    <head>
        <title>
            Report
        </title>
        <style>
            table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        <table cellpadding="10">
            <tr>
                <td><br><br></td>
               
               
                
            </tr>

            
            <tr>
                <th colspan="1">Name of Client</th>
                <td colspan="7">~1~</td>
            </tr>
           
            <tr>
                <th colspan="1">Name of Contractor</th>
                <td colspan="7">~2~</td>
            </tr>

            <tr>
                <th colspan="8"><h3>DETERMINATION OF EFFECTIVE SPECIFIC GRAVITY OF COMBINED AGGREGATE</h3></th>
            </tr>
           

            <tr>
                <th >SIZE OF MATERIAL</th>
                <th >BULK SPECIFIC GRAVITY</th>
                <th >APPARENT SPECIFIC GRAVITY</th>
                <th >EFFECTIVE SPECIFIC GRAVITY</th>
                
            </tr>
            <tr>
                <th >~3~</th>
                <th >~4~</th>
                <th >~5~</th>
                <th >~6~</th>
             
            </tr>
            <tr>
                <th >~7~</th>
                <th >~8~</th>
                <th >~9~</th>
                <th >~10~</th>
               
            </tr>

            
            <tr>
                <th >~11~</th>
                <th >~12~</th>
                <th >~13~</th>
                <th >~14~ </th>
               
            </tr>
                
           
         
           <tr>
            <th colspan="8"><br> <br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br></th>
           </tr>
            
           
        </table>
    </body>
</html>