<!DOCTYPE html>
<html>

<head>
    <title>Report</title>
    <style>
        table,
        td,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        td {
            line-height: 0.9;
            /* Adjust this value as needed */
        }
    </style>
</head>

<body>
    <table cellpadding="18">
        <tr>
            <td colspan="18">National Highway Authority of India</td>
        </tr>
        <tr>
            <td colspan="2">Name of Work</td>
            <td colspan="16">~69~</td>
        </tr>
        <tr>
            <td colspan="2">Name of Client</td>
            <td colspan="16">~70~</td>
        </tr>
        <tr>
            <td colspan="2">Name of Consultant</td>
            <td colspan="16">~71~</td>
        </tr>
        <tr>
            <td colspan="2">Name of Contractor</td>
            <td colspan="16">~72~</td>
        </tr>
        <tr>
            <td colspan="18">BLENDING FOR-DENSE BITUMINOUS MACADAM GRADE-II</td>
        </tr>        
        <tr>
            <td colspan="8"></td>
            <td colspan="1">25-16<br>mm</td>
            <td colspan="1">~1~</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="1">16-4.75<br>mm</td>
            <td colspan="1">~2~</td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="1"><p>4.75<br>mm</p></td>
            <td colspan="1">~3~</td>
            <td colspan="8"></td>
        </tr>
        
        <tr>
            <td colspan="18"></td>
        </tr>
        <!-- <tr> <td colspan="12"></td></tr> -->
        <tr>
            <td colspan="1">AGG.</td>
            <td colspan="8">I.S. Sieves(in mm)</td>
            <td colspan="1">%</td>
            <td colspan="8">I.S. Sieves(in mm)</td>
        </tr>
        <tr>
            <td colspan="1">SIZE</td>
            <td colspan="1">~61~</td>
            <td colspan="1">~62~</td>
            <td colspan="1">~63~</td>
            <td colspan="1">~64~</td>
            <td colspan="1">~65~</td>
            <td colspan="1">~66~</td>
            <td colspan="1">~67~</td>
            <td colspan="1">~68~</td>
            <td colspan="1"></td>
            <td colspan="1">~61~</td>
            <td colspan="1">~62~</td>
            <td colspan="1">~63~</td>
            <td colspan="1">~64~</td>
            <td colspan="1">~65~</td>
            <td colspan="1">~66~</td>
            <td colspan="1">~67~</td>
            <td colspan="1">~68~</td>
        </tr>
        <tr>
            <td colspan="1">25-16 mm</td>
            <td colspan="1">~4~</td>
            <td colspan="1">~5~</td>
            <td colspan="1">~6~</td>
            <td colspan="1">~7~</td>
            <td colspan="1">~8~</td>
            <td colspan="1">~9~</td>
            <td colspan="1">~10~</td>
            <td colspan="1">~11~</td>
            <td colspan="1">~1~</td>
            <td colspan="1">~12~</td>
            <td colspan="1">~13~</td>
            <td colspan="1">~14~</td>
            <td colspan="1">~15~</td>
            <td colspan="1">~16~</td>
            <td colspan="1">~17~</td>
            <td colspan="1">~18~</td>
            <td colspan="1">~19~</td>
        </tr>
        <tr>
            <td colspan="1">16- 4.75 mm</td>
            <td colspan="1">~20~</td>
            <td colspan="1">~21~</td>
            <td colspan="1">~22~</td>
            <td colspan="1">~23~</td>
            <td colspan="1">~24~</td>
            <td colspan="1">~25~</td>
            <td colspan="1">~26~</td>
            <td colspan="1">~27~</td>
            <td colspan="1">~2~</td>
            <td colspan="1">~28~</td>
            <td colspan="1">~29~</td>
            <td colspan="1">~30~</td>
            <td colspan="1">~31~</td>
            <td colspan="1">~32~</td>
            <td colspan="1">~33~</td>
            <td colspan="1">~34~</td>
            <td colspan="1">~35~</td>
        </tr>
        <tr>
            <td colspan="1">4.75 mm down</td>
            <td colspan="1">~36~</td>
            <td colspan="1">~37~</td>
            <td colspan="1">~38~</td>
            <td colspan="1">~39~</td>
            <td colspan="1">~40~</td>
            <td colspan="1">~41~</td>
            <td colspan="1">~42~</td>
            <td colspan="1">~43~</td>
            <td colspan="1">~3~</td>
            <td colspan="1">~44~</td>
            <td colspan="1">~45~</td>
            <td colspan="1">~46~</td>
            <td colspan="1">~47~</td>
            <td colspan="1">~48~</td>
            <td colspan="1">~49~</td>
            <td colspan="1">~50~</td>
            <td colspan="1">~51~</td>
        </tr>
        <tr>
            <td colspan="6"></td>
            <td colspan="3">DESIGN</td>
            <td colspan="1">~52~</td>
            <td colspan="1">~53~</td>
            <td colspan="1">~54~</td>
            <td colspan="1">~55~</td>
            <td colspan="1">~56~</td>
            <td colspan="1">~57~</td>
            <td colspan="1">~58~</td>
            <td colspan="1">~59~</td>
            <td colspan="1">~60~</td>
        </tr>
        <tr>
            <td colspan="9">UPPER & LOWER LIMITS OF GRADING TABLE 500-10(GRADING 2) OF MORTH & SPECIFICATION</td>
            <td colspan="1">Mid Limit</td>
            <td colspan="1">100</td>
            <td colspan="1">95</td>
            <td colspan="1">83</td>
            <td colspan="1">68</td>
            <td colspan="1">46</td>
            <td colspan="1">35</td>
            <td colspan="1">14</td>
            <td colspan="1">5</td>
        </tr>
        <tr>
            <td colspan="9"></td>
            <td colspan="1">Lower Limit</td>
            <td colspan="1">100</td>
            <td colspan="1">90</td>
            <td colspan="1">71</td>
            <td colspan="1">56</td>
            <td colspan="1">38</td>
            <td colspan="1">28</td>
            <td colspan="1">7</td>
            <td colspan="1">2</td>
        </tr>
        <tr>
            <td colspan="9"></td>
            <td colspan="1">Upper Limit</td>
            <td colspan="1">100</td>
            <td colspan="1">100</td>
            <td colspan="1">95</td>
            <td colspan="1">80</td>
            <td colspan="1">54</td>
            <td colspan="1">42</td>
            <td colspan="1">21</td>
            <td colspan="1">8</td>
        </tr>
        <tr>
            <td colspan="18"><img src="grad_bld_graph.png"></td>
        </tr>
        <tr>
            <td colspan="9"> FOR CONTRACTOR REP.</td>
            <td colspan="9"> FOR AUTHORITY ENGINEER REP.</td>
        </tr>
        <<tr>
            <td colspan="6">Tested by</td>
            <td colspan="6">Checked by</td>
            <td colspan="6">Random sample checked</td>
        </tr>
        <tr>
            <td colspan="6"><br></td>
            <td colspan="6"><br></td>
            <td colspan="6"><br></td>
        </tr>
        <tr>
            <td colspan="6"></td>
            <td colspan="6">Authority's Engineer</td>
            <td colspan="6">Client</td>
        </tr>
    </table>
</body>

</html>