<!DOCTYPE html>
<html>
    <head>
        <title>
            Report
        </title>
        <style>
            table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }
        </style>

<style>
    .thick-border {
        border: 3px solid black;
    }
</style>
    </head>

    <body>
        <table cellpadding="10">
            <tr>
                <td><br><br></td>
               
               
                
            </tr>

            
            <tr>
                <th colspan="2">Name of Client</th>
                <td colspan="2">~1~</td>
            </tr>
           
            <tr>
                <th colspan="2">Name of Contractor</th>
                <td colspan="2">~2~</td>
            </tr>

            <tr>
                <th colspan="4"><h3>Determination of Bituminous Material Viscosity</h3></th>
            </tr>

            <tr>
                <th colspan="2">Lab Job No.: ~3~</th>
                <th colspan="2">Date of Sampling: ~4~</th>
            </tr>

            <tr>
                <th colspan="2">Source of Material: ~5~</th>
                <th colspan="2">Date of Testing: ~6~</th>
            </tr>

            <tr>
                <th colspan="2">Grade of Material: ~7~</th>
                <th colspan="2">Sampled By: ~8~</th>
            </tr>

            <tr>
                <th colspan="2">Proposed to Use: ~9~</th>
                <th colspan="2">Tested By: ~10~</th>
            </tr>

            <tr>
                <th colspan="4">Description of Test<br></th>
            </tr>

            <tr class="thick-border">
                <th rowspan="2">SNo.</th>
                <th rowspan="2">Description</th>
                <th colspan="2">Results</th>
            </tr>

            <tr>
                <td style="font-size: small; text-align: center;">Absolute Viscosity in Poise<br>IS 1206 II</td>
                <td style="font-size: small; text-align: center;">Kinematic Viscosity in cSt<br>IS 1206 III</td>
            </tr>

            <tr>
                <td>1</td>
                <td>Test Temperature</td>
                <td>~11~</td>
                <td>~12~~</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Water Bath</td>
                <td>~13~</td>
                <td>~14~</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Size of Tube</td>
                <td>~15~</td>
                <td>~16~</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Calibration Factor for Bulbs</td>
                <td>~17~</td>
                <td>~18~</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Time for Bulb (sec)</td>
                <td>~19~</td>
                <td>~20~</td>
            </tr>

            <tr class="thick-border">
                <td>6</td>
                <td>Viscosity</td>
                <td>~21~</td>
                <td>~22~</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Permissible Limits</td>
                <td>3200-4800 Poise</td>
                <td>Min 400 cSt</td>
            </tr>

            <tr>
                <th>Remarks</th>
                <td colspan="3"><br><br><br><br></td>
            </tr>

            <tr>
                <td colspan="2">EPC CONTRACTOR REP</td>
                <td colspan="1.5">AUTHORITY ENGINEER REP</td>
                <td colspan="1">CHECKED BY</td>
            </tr>
        </table>
    </body>
</html>