<!DOCTYPE html>
<html>

<head>
    <title>
        Report
    </title>
    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>

    <style>
        .thick-border {
            border: 3px solid black;
        }
    </style>
</head>

<body>
    <table style="width: 700px;" cellpadding="10">
        <tr>
            <td><br><br></td>



        </tr>


        <tr>
            <th colspan="2">Name of Client</th>
            <td colspan="2">~1~</td>
        </tr>

        <tr>
            <th colspan="2">EPC Contractor</th>
            <td colspan="2">~2~</td>
        </tr>

        <tr>
            <th colspan="4" style="font-size: large;">FLASH POINT<br>IS: 1209</th>
        </tr>

        <tr>
            <th colspan="2">Lab Job No.: ~3~</th>
            <th colspan="2">Date of Sampling: ~4~</th>
        </tr>

        <tr>
            <th colspan="2">Source of Material: ~5~</th>
            <th colspan="2">Date of Testing: ~6~</th>
        </tr>

        <tr>
            <th colspan="2">Grade of Bitumen: ~7~</th>
            <th colspan="2">Sampled By: ~8~</th>
        </tr>

        <tr>
            <th colspan="2">Proposed to Use: ~9~</th>
            <th colspan="2">Tested By: ~10~</th>
        </tr>

        <tr>
            <th colspan="2">Location: ~11~</th>
            <th colspan="2">Type of Material:~12~</th>
        </tr>

        <tr>
            <th colspan="4">Description of Test<br></th>
        </tr>

        <tr class="thick-border">
            <th>
                <p style="text-align: left;">Description</p>
                <p style="text-align: right;">Units</p>
            </th>
            <th>Test 1</th>
            <th>Test 2</th>
            <th>Test 3</th>
        </tr>

        <tr>
            <td>
                <div style="float: left;">Flash Point</div>
                <div style="float: right;">℃</div>
            </td>
            <td style="text-align: center;">~13~</td>
            <td style="text-align: center;">~14~</td>
            <td style="text-align: center;">~15~</td>
        </tr>

        <tr class="thick-border">
            <td>
                <div style="float: left;">Average Flash Point</div>
                <div style="float: right;">℃</div>
            </td>
            <td colspan="3" style="text-align: center;">~16~</td>
        </tr>

        <tr>
            <th>Remarks</th>
            <td colspan="3"><br><br><br><br></td>
        </tr>

        <tr>
            <td colspan="1">EPC CONTRACTOR REP</td>
            <td colspan="3">AUTHORITY ENGINEER REP</td>
        </tr>
    </table>
</body>

</html>